<div class="container-fluid">
  &nbsp;&nbsp;<div class="well"><h3>list of available articles</h3></div><br><br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>City</th>
      <th>State</th>
      <th>Postal Code</th>
      <th>Mail Id</th>
      <th>Phone</th>
      <th>Dob</th>
      <th>show</th>
    </tr>
    </thead>
    <tbody>
    <% @articles.each do |article| %>
        <tr>
          <td><%= article.first_name %></td>
          <td><%= article.last_name %></td>
          <td><%= article.city %></td>
          <td><%= article.state %></td>
          <td><%= article.postal_code %></td>
          <td><%= article.mail_id %></td>
          <td><%= article.phone %></td>
          <td><%= article.dob %></td>
          <td><button type="button" class="btn btn-default"><%= link_to 'Show', article_path(article) %></button></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>