<div class="container-fluid">
  <div class="well"><h3>update user</h3></div>
  <br><br>
  <%= form_with model: @user, local: true do |form| %>

      <p>
        <%= form.label :phone %><br>
        <%= form.number_field :phone %>
      </p>

      <p>
        <%= form.label :aadharid %><br>
        <%= form.text_field :aadharid %>
      </p>

      <p>
        <%= form.submit %>
      </p>

  <% end %>
</div>
