<div class="container-fluid">
  &nbsp;&nbsp;<div class="well"><h3>enter user details</h3></div>
  <br><br>


  <%= form_with model: @user, local: true do |form| %>

      <p>
        <%= form.label :email %><br>
        <%= form.text_field :email %>
      </p>

      <p>
        <%= form.label :phone %><br>
        <%= form.number_field :phone %>
      </p>

      <p>
        <%= form.label :aadharid %><br>
        <%= form.text_field :aadharid %>
      </p>

      <p>
        <%= form.label :password %><br>
        <%= form.text_field :password %>
      </p>

      <p>
        <%= form.submit %>
      </p>

  <% end %>
</div>